.topPosts {
  margin-top: 2rem;
}

.topPosts h3 {
  position: relative;
  margin: 0.5rem;
}

.topPosts h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 3ch;
  height: 0.15rem;
  background-color: #f08080;
}

.content > div {
  position: relative;
}

.content > div::after {
  content: attr(data-id);
  position: absolute;
  top: 65%;
  right: 20px;
  transform: translate(0, -65%);
  color: #f0f0f0;
  font-size: 3rem;
  font-weight: 700;
}

.content > div:nth-child(1)::after {
  top: 100%;
  right: 20px;
  transform: translate(0, -100%);
}
