.blogCard {
  display: block;
  background-color: hsl(0, 0%, 100%);
  padding: 0.5rem;
}

.blogContent {
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
}

.content {
  color: #908d8d;
  font-size: 1.1em;
  text-align: justify;
  text-overflow: ellipsis;
}

.catDate {
  color: #908d8d;
}
