.container {
  display: grid;
  grid-template-columns: 70% 29%;
  grid-template-areas:
    "first second"
    "first third";
  gap: 0.5rem 1%;
  height: 80vh;
  margin: 1rem auto;
}

.container > div:nth-child(1) {
  grid-area: first;
}
.container > div:nth-child(2) {
  grid-area: second;
}
.container > div:nth-child(3) {
  grid-area: third;
}

@media screen and (max-width: 770px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "first";
    gap: 0;
  }

  .container > div:nth-child(2),
  .container > div:nth-child(3) {
    display: none;
  }
}
