.blogCard {
  display: grid;
  grid-template-rows: auto;
  row-gap: 2%;
  background-color: #fcfcfc;
  border-radius: 0.5rem;
  padding: 0.5rem;
  height: 100%;
}

.blogImage {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem 0.5rem 0 0;
  height: 250px;
  overflow: hidden;
}

.blogImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.blogContent {
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 0.5rem;
  width: 90%;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

.catDate {
  color: #404040;
}
