.container {
  display: grid;
  grid-template-columns: auto 1fr;
}

.upShareContainer {
  position: relative;
}

@media screen and (max-width: 770px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
  .upShareContainer {
    order: 2;
  }
}
