.blogCard {
  display: grid;
  grid-template-columns: 39% 59%;
  column-gap: 2%;
  background-color: hsl(0, 0%, 100%);
  padding: 1rem 0;
  border-top: 0.15rem solid hsl(0, 0%, 80%);
}

.blogContent {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 0.5rem;
}

.title {
  display: inline;
  position: relative;
  font-size: 1rem;
  text-decoration: none;
  outline: none;
  color: hsl(0, 0%, 0%);
  cursor: pointer;
  background-image: linear-gradient(hsl(210, 100%, 60%), hsl(210, 100%, 60%));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 0.1rem;
  transition: background-size 350ms;
}

.title:hover,
.title:focus {
  background-size: 100% 0.1rem;
}

.catDate {
  font-size: 0.8rem;
  margin-top: 1rem;
}

.category {
  font-weight: 600;
}

.creationDate {
  color: #3c3c3c;
}
