.nav {
  padding: 0 0.5rem 0.1rem;
}

.linkList {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.link {
  text-decoration: none;
  outline: none;
  color: hsl(0, 0%, 0%);
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(to bottom, transparent 0%, transparent 50%, hsl(210, 100%, 60%) 51%, hsl(210, 100%, 60%) 100%);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 200% 200%;
  transition: background-position 300ms linear;
}

.link:hover {
  background-position: bottom;
}

.linkActive {
  background-position: bottom;
  background-image: linear-gradient(to bottom, transparent 0%, transparent 50%, hsl(35, 100%, 60%) 51%, hsl(35, 100%, 60%) 100%);
}

.btn {
  appearance: none;
  background-color: #fff;
  text-decoration: none;
  outline: 1px solid currentColor;
  border: none;
  color: #03a87c;
  cursor: pointer;
  display: inline-block;
  padding: 0.3rem 1rem;
  transition: box-shadow 300ms linear;
}

.btn:hover {
  box-shadow: 0 0 0.5em currentColor, 0 0 0.2em currentColor;
  text-shadow: 0 0 1px currentColor;
}

.btnActive {
  background-color: #03a87c;
  color: #fff;
}

@media screen and (max-width: 770px) {
  .linkList {
    flex-flow: column nowrap;
  }

  .link {
    margin-bottom: 0.2rem;
  }

  .linkList li {
    padding: 0.2rem 0;
    width: 100%;
    border-top: 0.05rem solid hsl(0, 0%, 80%);
  }
}
