.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  padding: 0.5rem 1rem;
  margin: 2rem 0;
  position: sticky;
  top: 2rem;
}

.btn {
  cursor: pointer;
  appearance: none;
  border: none;
  outline: none;
  padding: 0.5rem 0 0.5rem 22px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: left center;
  font-size: 0.8rem;
}

.btn:hover {
  border-bottom: 0.1em solid hsl(210, 100%, 60%);
}

.up {
  background-image: url("../../Assets/upvote.svg");
}

.share {
  background-image: url("../../Assets/share.svg");
  position: relative;
}

.shareActive .tooltipText {
  transform: scale(1);
}

.tooltipText {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0.5em 0;
  background-color: #555;
  color: #fff;
  border-radius: 0.3em;
  transform: scale(0);
  transition: transform 300ms linear;
}

.tooltipText::before {
  content: "";
  position: absolute;
  top: -0.5em;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-bottom: 0.7em solid #555;
}
