.notFound {
  border: 2px solid black;
  height: 75%;
  text-align: center;
  overflow: hidden;
}

.notFound img {
  max-width: 50%;
  animation: pulse 5000ms alternate infinite linear;
}

@keyframes pulse {
  from {
    transform: translateX(-25%);
  }
  to {
    transform: translateX(25%);
  }
}
